page-login {
    ion-content{
        background-image: url('../../assets/imgs/bg-login.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white !important;
    }
}


