
// Fuentes
@font-face{
    font-family: Roboto;
    src: url(../assets/fonts/roboto.woff2);
}

*{
    font-family: Roboto;
}
// Utilidades
.mt-10 {
    margin-top: 10px !important;
}
.mt-30 {
    margin-top: 10px !important;
}
.text-white {
    color: white !important;
}